.container {
    width: 90%;
    margin: 0 auto;
  }
  .row{
    display: flex;
    text-wrap: wrap;
  }
 col-1{
width: (100% / 12 * 1);
 }
 col-2{
width: (100% / 6 * 1);;
 }
 col-3{
    width: (100% / 4 * 1);

 }
 col-4{
    width: (100% / 3 * 1);

 }
 col-5{
    width: (100% / 12 * 5);

 }
 col-6{
    width: (100% / 2 * 1);

 }
 col-7{
    width: (100% / 12 * 7);

 }
 col-8{
    width: (100% / 3 * 2);

 }
 col-9{
    width: (100% / 4 * 3);

 }
 col-10{
    width: (100% / 6 * 5);

 }
 col-11{
    width: (100% / 12 * 11);

 }
 col-12{
    width: (100% / 1 * 1);

 }